 body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the entire image is visible */
}

.car {
    position: absolute;
    width: 5%; /* Initial size is 5% of the viewport width */
    transform: translate(-50%, -50%); /* Center the car exactly */
}

/* Text style for footer buttons */
.footer-button {
    color: #0000EE; /* Unvisited link color */
    text-decoration: underline; /* Underlined by default */
    border: none;
    background: none;
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Style when button is hovered */
.footer-button:hover {
    color: #1A0DAB; /* Color change on hover */
    text-decoration: underline; /* Underline remains on hover */
}

footer {
    text-align: center;
    padding: 10px;
    color: #333;
    /* border-style:dashed; */
}