/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
    color: #333
}

/* Apply gradient background to the body */
body {
    background: linear-gradient(135deg, #f9f5f0, #f0c9c8);
}

/* Main container styling*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between the image and text section */
    flex: 1;

}

/* Text and back link container styling */
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; /* Space between text and button group */
}

/* Full viewport size for animation container styling*/
#animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Car image styling */
#car-image {
    width: 500px; /* Adjust width to your desired size */
    max-width: 100%; /* Responsive scaling */
    height: auto;
}

/* Go to home page lin styling */
.back-home-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1em;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
  }

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    color: #333;
}

/* Car wrapper with trembling effect */
.car-wrapper {
    display: inline-block;
    animation: engine_vibration 0.1s infinite; /* Trembling effect */
  }

/* Animations */
/* Animation for trembling effect */
@keyframes engine_vibration {
0% { transform: translate(-1px, 1px); }
25% { transform: translate(1px, -1px); }
50% { transform: translate(-1px, -1px); }
75% { transform: translate(1px, 1px); }
100% { transform: translate(-1px, 1px); }
}